<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img class="picture rounded mx-auto d-block" src="assets/img/avatar-default.png">
        </div>
        <div class="col-8">
            <div class="col">
                <h1 class="name">{{ nanny.name }}</h1>
            </div>
            <div class="col stars">
                <ng-container *ngFor="let star of stars | async">
                    <i class="fas fa-star"></i>
                </ng-container>
            </div>
            <div class="col resumee">
                <span>
                    {{ nanny.resumee | slice:0:199 }}...
                    <a href="">Más</a>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <p class="price">{{ nanny.price | currency:'MXN' }} / noche</p>
        </div>
        <div class="col">
            <div class="col">
                <button type="button" class="btn btn-primary btn-block"><i class="fas fa-eye"></i> Ver Perfil</button>
            </div>
        </div>
    </div>
</div>