<div class="infoWindow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <img class="picture rounded mx-auto d-block" src="assets/img/avatar-default.png">
                <div class="row no-gutters">
                    <div class="col d-block text-center pt-2 rosa" *ngFor="let category of categories">
                        <i class="fas {{ category.icon }} icon"></i> 
                        <p class="m-0">{{ category.name }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="col">
                    <h1 class="name">{{ nanny.name }}</h1>
                </div>
                <div class="col stars">
                    <ng-container *ngFor="let star of stars | async">
                        <i class="fas fa-star"></i>
                    </ng-container>
                </div>
                <div class="col resumee">
                    <span>
                        {{ nanny.resumee | slice:0:140 }}
                        <a href="" *ngIf="nanny.resumee.length > 200">...Más</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm">
                <p class="price">{{ nanny.price | currency:'MXN' }} / hora</p>
            </div>
            <div class="col-sm">
                <div class="col">
                    <a href="/nanny/{{ nanny.name }}" class="btn btn-primary btn-block"><i class="fas fa-eye"></i> Ver Perfil</a>
                </div>
            </div>
        </div>
    </div>
</div>