/* Set Size of InfoWindow dynamically */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .infoWindow {
        width: 200px;
    }    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) {
    .infoWindow {
        width: 500px;
    }  
}

.name {
    font-size: 1.5em!important;
}

.stars {
    color: #ff94cc;
}

.picture {
    width: 50%;
}

.resumee {
    max-width: 100%;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #b0c7ff;
}
