<main role="main" class="container-fluid">
  <div class="row">
    <div class="container pt-5">
      <div class="row">
        <div class="col-12 text-center">
          <img src="assets/img/logo.png" width="40%" alt="">
        </div>
        <div class="col-12">
          <h1>Nosotros:</h1>
          <p>
             Nannytastic es una empresa que ofrece un servicio de niñeras de excelente calidad, así como eficiencia, rapidez y accesibilidad,
            todo dentro de un servicio que se adapta a las necesidades de cada uno de nuestros clientes de una manera innovadora
            y fácil.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <h1>Misión:</h1>
          <p>
             Nannytastic es una empresa dedicada al cuidado de niños por medio de un servicio de niñeras a través de una aplicación,
            dirigiéndose a los padres de familia ofreciendo seguridad, recreación y aprendizaje así como un servicio de calidad
            para sus hijos, contando con niñeras capacitadas.
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <h1>Visión:</h1>
          <p>
             Llegar a ser una empresa altamente conocida por la calidad, seguridad y excelencia del servicio que se ofrece, así como
            ser reconocida como una empresa dinámica y eficaz que se preocupa por los intereses y necesidades de nuestros
            clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>