.map-container {
  position: absolute;
  top: 71.05px;
  right: 0;
  left: 0;
  bottom: 0;
}

.map {
  position: relative;
  height: 100%;
  width: 100%;
}

main {
  padding-top: 70px;
}

.search-nanny {
    position: absolute;
    z-index: 2!important;
    text-align: center;
    width: 100%;
}

.search-nanny-btn {
  background-color: #ffffae;
}