/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  width: 100%;
}

.bg-dark {
  background-color: #ca7eff !important;
}

.bg-dark a {
  color: #343a40 !important;
}