/* You can add global styles to this file, and also import other style files */

/* paleta
azul marino: #27253f
rosa: #ff94cc
amarillo: #ffffae
azul: #b0c7ff
*/
body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.bg-dark {
  background-color: #b0c7ff !important;
}

.bg-dark a {
  color: #343a40 !important;
}

.no-padding-sides {
  padding-left: 0!important;
  padding-right: 0!important;
}